.env
**/data/

# Plausible Database Data
plausible/db-data/
plausible/event-data/

# OSTicker Data
osticket/config/
osticket/mysql-data/

# Dokuwiki Data
dokuwiki/config/**/*
!dokuwiki/config/dokuwiki/
!dokuwiki/config/dokuwiki/data/
!dokuwiki/config/dokuwiki/data/pages/
!dokuwiki/config/dokuwiki/data/pages/**
!dokuwiki/config/dokuwiki/data/media/
!dokuwiki/config/dokuwiki/data/media/**


